.hero {
    width: 100%;
    height: 90vh;
    background-color: black;
    background-image: url('../../assets/homepagebread.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    color: #64686b;
    padding: 30px;
}

.paragraph {
    max-width: 600px;
}

.paragraph h1 {
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    padding-bottom: 100px;
}

.button {
    background: #ffffff;
    border-radius: 1000px;
    padding: 20px 0;
    color: #c7c7c7;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
    border: 2px solid #ffffff;
    cursor: pointer;
    outline:none;
}

.button:hover{
    background: transparent;
    color: #ffffff;
    border: 2px solid  #ffffff;
}

.button:hover a {
    color: #ffffff;
}

.button a, a:visited {
    text-decoration: none;
    color: #c7c7c7;
    padding: 20px 45px;
} 

@media screen and (max-width: 768px) {
    .paragraph h1 {
        font-size: 2rem;
        padding-bottom: 50px;
    }

    .button {
        padding: 10px 0;
        font: normal bold 18px/1 "Open Sans", sans-serif;

    }
    .button a, a:visited {
        padding: 10px 25px;
    }

}