.story {
    background-color: #f4f4f4;
    min-height: 80vh;
    padding: 15px 0;
}

.container {
    margin: 0 auto;
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    height: 80vh;
}

.image {
    height: 80%;
    margin: auto;
    width: 500px;
    background-image: url('../../assets/monika-grabkowska-zKpAT0nBw7Q-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.storyParagraph {
    text-align: justify;
    margin: auto;
    font-size: 1.4rem;
    max-width: 700px;
    margin-right: 0;
    font-weight: 500;
    padding: 15px;
    font-family: "Dancing Script", sans-serif;
}

.storyParagraph p{
    color:#64686b;
}

.storyParagraph h2 {
    padding:15px 0;
}