.contact {
    background-color: blanchedalmond;
    background-image: url('../../assets/contactSection.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.container {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 80vh;
    max-height: 700px;
}

.image {
    width: 80%;
    height: 80%;
    overflow: hidden;
    margin: auto;
}

.image > div {
    position: relative !important;
}

.image > div > div{
    position: relative !important;
}
